= sts.card title: t('.sandboxes'), icon: 'fad fa-toolbox', content_padding: false, menu: liquidum_sandboxes_menu do |card|
  = sts.table 'liquidum/sandboxes', parameters: { search_placeholder: "Search By Context, Template and Description" }